.header {
  font-family: 'SilentHill';
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  height: 140px;
  background-image: url('../../assets/paper-bg.webp');
}

.header * {
  cursor: pointer;
  height: 40px;
  margin-top: 10px;
  margin-inline: 10px;
  padding-left: 25px;
}

.header > h2:hover {
  color: #000000;
  transform: scale(1.35);
}

@media screen and (max-width: 1250px) {
  .header {
    font-size: 1.5em;
    justify-content: left;
    padding: 2px;
  }
}
